/* GENERAL RULES*/
body{
    font-family:arial;
}

input[type="button"],input[type="submit"],input[type="radio"],input[type="checkbox"]{
    cursor:pointer;
}

/* USEFUL CLASSES */
.cursor-pointer{
    cursor:pointer;
}
.page-title{
    text-align:center;
}