#debug-contents{
    color:#333;
    background-color: #f0f0f0;
}
.ins-dump{
    border: 0.25px solid #777;
    border-radius:5px;
    background-color:#F5F1C8;
}
.ins-dump:hover{
    background-color:#f0f0f0;
}
.ins-obs{
    color:#990000;
}
.blank-screen{
    border: 1px black solid;
    background-color:white;
    padding:5px;
}